body {
  font-size: 32px;
  width: fit-content;
  margin: auto;
  font-family: sans-serif;
}

#list {
  list-style-type: none;
  padding: 0;
  width: 300px;
}

li {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer; 
}

.done {
  text-decoration: line-through;
}

li:hover {
  background-color: #ddd;
}

input {
  padding: 16px;
  font-size: 20px;
  border-radius: 10px;
}

input:focus {
  background-color: red;
}

.addBtn {
  padding: 16px;
  border: none;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.bigButton {
  background-color: green;
  font-size: 100px;
}
