* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 32px;
  border-radius: 16px;
}

/* Style the list items */
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: lightgrey;
  /* transition: 0.5s; */

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ul li:nth-child(odd) {
  background: red;
} */

/* ul */
.rounded-list {
  /* border: 1px solid black; */
  /* border-radius: 2rem; */
  overflow: hidden;
}

/* li inside ul */
.rounded-list li {
  text-wrap: balance;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

/* Set all odd list items to a different color (zebra-stripes) */

/* Darker background-color on hover */
ul li:hover {
  /* background: lightseagreen; */
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: lightgreen;
  opacity: 0.5;

  translate: 100%;
}

ul li.checked div {
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "✔️";
  position: absolute;
  color: white;
  left: 16px;
  /* transform: rotate(45deg); */
  /* height: 15px;
  width: 7px; */
}

/* Style the close button */
.close {
  padding: 16px;
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: scale 0.3s ease;
  will-change: scale;
}

.close:hover {
  scale: 1.2;

  
}

/* Style the header */
.header {
  background-color: lightblue;
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.box {
  background-color: red;
  width: 20rem;
  height: 20rem;

  margin: 3rem;
  border-radius: 50%;
}

.form {
  display: flex;
  gap: 16px;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 16px;
  width: 75%;
  padding: 16px;
  font-size: 18px;
}

input:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
}

/* Style the "Add" button */
.addBtn {
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border: none;
  width: 25%;
  /* background: #d9d9d9; */
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1rem;
}

.addBtn:hover {
  background-color: #bbb;
}
